{clean_files, ["*.eunit", "ebin/*.beam"]}.

{deps, [ 
	{lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
	{'snappy', ".*", {git, "https://github.com/fdmanana/snappy-erlang-nif.git"}},
	{'ranch', ".*", {git, "https://github.com/extend/ranch.git"}},
	{vlq, ".*", {git, "git://github.com/ricecake/erlang-vlq", {branch, "master"}}}
]}.
